* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*Navigation Bar*/
.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 999;
}

.logo-text {
  font-size: 45px;
  font-weight: 300;
  color: rgb(255, 89, 103);
  margin-left: 25px;
}

.logo-text-link {
  text-decoration: none;
}

.nav-links {
  display: flex;
  visibility: visible;
  margin-right: 25px;
  margin-top: 15px;
  margin-left: 5px;
  padding-left: 0px;
}

.nav-links li {
  list-style: none;
}

button.nav-bars {
  visibility: hidden;
  float: right;
  width: 0px;
  padding: 0;
}

.nav-links a {
  font-size: 20px;
  font-weight: 350;
  display: block;
  color: black;
  text-decoration: none;
  padding: 3px;
  padding-left: 15px;
  padding-right: 15px;
  width: max-content;
  text-align: center;
}

.nav-links a:hover {
  background-color: rgb(242, 242, 242);
  cursor: pointer;
  border-radius: 20px;
}

.searchbar {
  flex-grow: 1;
  height: 40px;
  border-radius: 20px;
  border: 2px solid black;
  margin-top: 5px;
  margin-right: 10px;
  margin-left: 25px;
}

.searchbar input[type=text] {
  width: 90%;
  padding-left: 20px;
  font-size: 17px;
  border: none;
  border-radius: 20px;
  margin-top: 5px;
}

.searchbar input[type=text]:focus {
  outline: none;
}

.searchbar button {
  text-align: right;
  float: right;
  width: 10%;
  padding: 5px;
  padding-right: 20px;
  background: none;
  border-radius: 20px;
  color: rgb(195, 195, 195);
  border: none;
  cursor: pointer;
}

.searchbar button:hover {
  color: gray;
}


@media (max-width: 925px) {
  .nav-links {
    display: block;
    position: absolute;
    visibility: hidden;
    top: 65px;
    right: 0;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    padding: 5px;
    background-color: white;
  }

  .nav-links a {
    font-size: 18px;
    margin: auto;
    width: 100%;
    padding: 5px 20px 5px 20px;
    margin: 5px 0px 5px 0px;
  }

  .nav-links a:hover {
    background-color: rgb(242, 242, 242);
    border-radius: 20px;
  }

  .nav-bars i {
    visibility: visible;
    position: absolute;
    -webkit-text-stroke: 1.7px white;
    top: 26px;
    right: 18px;
    font-size: 25px;
    font-weight: 10px;
    color: black;
    padding: 5px;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: 5px;
  }

  .nav-bars i:hover {
    background-color: rgb(242, 242, 242);
    -webkit-text-stroke: 1.7px rgb(242, 242, 242);
    cursor: pointer;
    border-radius: 20px;
  }

  .searchbar {
    margin-right: 75px;
  }

  .searchbar input[type=text] {
    width: 85%;
  }

  .searchbar button {
    width: 15%;
  }
}

@media (max-width: 705px){
  .nav-links {
    top: 55px;
  }

  .searchbar {
    margin-right: 25px;
    min-width: 310px;
    margin-top: 10px;
  }

  .searchbar input[type=text] {
    width: 90%;
  }

  .searchbar button {
    width: 10%;
  }
}

@media (max-width: 420px){
  .logo-text {
    font-size: 35px;
  }

  .nav-links {
    top: 45px;
    padding: 4px;
  }

  .nav-links a {
    font-size: 14px;
    padding: 4px 18px 4px 18px;
    margin: 4px 0px 4px 0px;
  }

  .nav-bars i {
    position: absolute;
    -webkit-text-stroke: 1.6px white;
    top: 22px;
    right: 18px;
    font-size: 20px;
  }

  .searchbar {
    height: 32px;
    min-width: 0px;
    border: 1.8px solid black;
  }

  .searchbar input[type=text] {
    width: 85%;
    font-size: 15px;
    margin-top: 2.5px;
    padding-left: 15px;
  }

  .searchbar button {
    width: 15%;
    padding: 5px;
    padding-right: 20px;
    border-radius: 20px;
    padding-top: 2px;
    cursor: pointer;
  }

  .searchbar button i {
    font-size: 15px;
  }
}

@media (max-width: 340px){
  .logo-text {
    font-size: 30px;
  }

  .nav-links {
    top: 40px;
    padding: 3px;
  }

  .nav-links a {
    font-size: 13px;
    padding: 3px 16px 3px 16px;
    margin: 3px 0px 3px 0px;
  }

  .nav-bars i {
    position: absolute;
    -webkit-text-stroke: 1.6px white;
    top: 18px;
    right: 18px;
    font-size: 20px;
  }
}

@media (max-width: 305px){
  .logo-text {
    font-size: 25px;
  }

  .nav-links {
    top: 32px;
    padding: 2px;
  }

  .nav-links a {
    font-size: 12px;
    padding: 2px 14px 2px 14px;
    margin: 2px 0px 2px 0px;
  }

  .nav-bars i {
    position: absolute;
    top: 15px;
    right: 18px;
    font-size: 18px;
  }

  .searchbar {
    height: 28px;
    border: 1.4px solid black;
  }

  .searchbar input[type=text] {
    width: 85%;
    font-size: 12px;
    margin-top: 2.5px;
    padding-left: 15px;
  }

  .searchbar button {
    width: 15%;
    padding: 4px;
    padding-right: 20px;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 0;
  }

  .searchbar button i {
    font-size: 12px;
    -webkit-text-stroke: 0.5px white;
  }
}

/* Login */
.back-home-link {
  text-decoration: none;
  color: rgb(87, 87, 87);
  margin: 20px 0px 0px 30px;
  font-size: 15pt;
  font-weight: 350;
}

.back-home-link:hover {
  color: rgb(31, 31, 31);
}

.back-home-link i {
  margin-right: 5px;
  font-size: 14pt;
  -webkit-text-stroke: 1.1px white;
}

.login, .register {
  width: 400px;
  background-color: #ffffff;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  margin: 100px auto;
}
.login h1, .register h1 {
  text-align: center;
  color: rgb(255, 89, 103);
  font-size: 24px;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid rgb(255, 89, 103);
}
.login .links, .register .links {
  display: flex;
  padding: 0 15px;
}
.login .links a, .register .links a {
  color: rgb(255, 89, 103);
  text-decoration: none;
  display: inline-flex;
  padding: 0 10px 10px 10px;
  font-weight: bold;
}
.login .links a:hover, .register .links a:hover {
  color: rgb(255, 89, 103);
}
.login .links a.active, .register .links a.active {
  border-bottom: 3px solid rgb(255, 89, 103);
  color: rgb(255, 89, 103);
}
.login form, .register form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}
.login form label, .register form label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: rgb(255, 89, 103);
  color: #ffffff;
}
.login form input[type="password"], .login form input[type="text"], .login form input[type="email"], .register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
  width: 310px;
  height: 50px;
  border: 1px solid #dee0e4;
  margin-bottom: 20px;
  padding: 0 15px;
}
.login form input[type="submit"], .register form input[type="submit"] {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  background-color: rgb(255, 89, 103);
  border: 0;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  transition: background-color 0.2s;
}
.login form input[type="submit"]:hover, .register form input[type="submit"]:hover {
  background-color: rgb(255, 89, 103);
  transition: background-color 0.2s;
}

@media (max-width: 460px){
  .login, .register {
    width: 80%;
    margin: 100px auto;
  }
  .login form input[type="password"], .login form input[type="text"], .login form input[type="email"], .register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
    width: 270px;
    height: 50px;
  }
}

@media (max-width: 444px){
  .login form input[type="password"], .login form input[type="text"], .login form input[type="email"], .register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
    width: 260px;
    height: 50px;
  }
}

@media (max-width: 434px){
  .login form input[type="password"], .login form input[type="text"], .login form input[type="email"], .register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
    width: 250px;
    height: 50px;
  }
  .login form input[type="submit"], .register form input[type="submit"] {
    margin-top: 15px;
  }
}

@media (max-width: 418px){
  .login form input[type="password"], .login form input[type="text"], .login form input[type="email"], .register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
    width: 245px;
    height: 45px;
  }
  .login form label, .register form label {
    width: 45px;
    height: 45px;
  }
  .login form input[type="submit"], .register form input[type="submit"] {
    margin-top: 10px;
  }
}

@media (max-width: 400px){
  .login h1, .register h1 {
    font-size: 18pt;
    padding: 16px 0 16px 0;
  }
  .login .links a, .register .links a {
    font-size: 12pt;
  }
  .login form input[type="password"], .login form input[type="text"], .login form input[type="email"], .register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
    width: 235px;
  }
}

@media (max-width: 387px){
  .login h1, .register h1 {
    font-size: 16pt;
  }
  .login form input[type="password"], .login form input[type="text"], .login form input[type="email"], .register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
    width: 230px;
    height: 40px;
  }
  .login .links a, .register .links a {
    font-size: 11pt;
  }
  .login form label, .register form label {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 372px){
  .login h1, .register h1 {
    font-size: 15pt;
  }
  .login form input[type="password"], .login form input[type="text"], .login form input[type="email"], .register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
    width: 230px;
    height: 35px;
  }
  .login .links a, .register .links a {
    font-size: 10pt;
  }
  .login form label, .register form label {
    width: 35px;
    height: 35px;
  }
  .login form input[type="submit"], .register form input[type="submit"] {
    margin-top: 8px;
  }
  .back-home-link {
    font-size: 14pt;
  }
  .back-home-link i {
    margin-right: 3px;
    font-size: 13pt;
    -webkit-text-stroke: 1.0px white;
  }
}

@media (max-width: 366px){
  .login form input[type="password"], .login form input[type="text"], .login form input[type="email"], .register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
    width: 225px;
  }
  .login form input[type="submit"], .register form input[type="submit"] {
    padding: 12px;
  }
}

@media (max-width: 355px){
  .login h1, .register h1 {
    font-size: 14pt;
  }
  .login form input[type="password"], .login form input[type="text"], .login form input[type="email"], .register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
    width: 225px;
    height: 30px;
  }
  .login form label, .register form label {
    width: 30px;
    height: 30px;
  }
  .login form input[type="submit"], .register form input[type="submit"] {
    margin-top: 6px;
  }
}

@media (max-width: 342px){
  .login form input[type="password"], .login form input[type="text"], .login form input[type="email"], .register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
    width: 215px;
  }
}

@media (max-width: 334px){
  .login h1, .register h1 {
    font-size: 14pt;
  }
  .login form input[type="password"], .login form input[type="text"], .login form input[type="email"], .register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
    width: 208px;
    height: 30px;
  }
  .login .links a, .register .links a {
    font-size: 10pt;
  }
  .login form label, .register form label {
    width: 30px;
    height: 30px;
  }
  .login form input[type="submit"], .register form input[type="submit"] {
    margin-top: 4px;
  }
  .back-home-link {
    font-size: 12pt;
  }
  .back-home-link i {
    margin-right: 3px;
    font-size: 11pt;
    -webkit-text-stroke: 1.0px white;
  }
}

@media (max-width: 324px){
  .login form input[type="password"], .login form input[type="text"], .login form input[type="email"], .register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
    width: 200px;
  }
  .login form input[type="submit"], .register form input[type="submit"] {
    margin-top: 3px;
    padding: 10px;
  }
}

@media (max-width: 314px){
  .login h1, .register h1 {
    font-size: 13pt;
  }
  .login form input[type="password"], .login form input[type="text"], .login form input[type="email"], .register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
    width: 193px;
  }
  .login form input[type="submit"], .register form input[type="submit"] {
    margin-top: 2px;
    padding: 9px;
  }
}

@media (max-width: 303px){
  .login h1, .register h1 {
    font-size: 12pt;
  }
  .login form input[type="password"], .login form input[type="text"], .login form input[type="email"], .register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
    width: 193px;
    height: 25px;
  }
  .login .links a, .register .links a {
    font-size: 9pt;
  }
  .login form label, .register form label {
    width: 25px;
    height: 25px;
  }
  .login form input[type="submit"], .register form input[type="submit"] {
    margin-top: 0px;
    padding: 8px;
  }
  
}

@media (max-width: 290px){
  .login form input[type="password"], .login form input[type="text"], .login form input[type="email"], .register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
    width: 183px;
  }
}

/* Profile Page */
.profile-container {
  padding-top: 30px;
  margin: 0px;
  background: white;
  height: fit-content;
  position: relative;
}

.profile-header {
  background: white;
  width: 100%;
  display: flex;
  height: 190px;
  position: relative;
  box-shadow: 0px 3px 4px rgba(0,0,0,.2);
  justify-content: space-between;
  z-index: 50;
}

.profile-header-more{
  background: white;
  width: fit-content;
  display: flex;
  height: 190px;
  position: relative;
  box-shadow: 0px 3px 4px rgba(0,0,0,.2);
  justify-content: space-between;
}

.profile-img {
  float: left;
  width: 280px;
  height: 200px;
  margin-left: 40px;
}

.profile-img img {
  border-radius: 50%;
  height: 230px;
  width: 230px;
  border: 4px solid white;
  box-shadow: 0px 5px 10px rgba(0,0,0,.2);
  left: 60px;
  top: 20px;
  z-index: 5;
  background: white;
}

.profile-name-info {
  flex-direction: column;
  padding-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
}

.profile-name-info h3 {
  font-variant: small-caps;
  font-size: 50px;
  font-weight: 300;
}

.user-username p {
  font-weight: 250;
  font-size: 20px;
  color:  #777;
}

.profile-body {
  width: 100%;
  display: flex;
  padding-right: 0px;
}

.profile-side {
  width: 300px;
  height: fit-content;
  background: white;
  box-shadow: 0px 3px 5px rgba(0,0,0,.2);
  padding: 80px 30px 20px;
  margin: 0px 0px 25px 25px;
  z-index: 10;
}

.profile-side p {
  margin-bottom: 20px;
  color: #333;
  font-size: 14px;
}

.profile-side p i {
  color: rgb(255, 89, 103);
  margin-right: 10px;
}

.user-bio {
  color: #333;
}

.user-bio h3 {
  font-weight: 300;
}

button.uploadbtn {
  border: 0;
  padding: 10px;
  width: 260px;
  border-bottom: 3px;
  background:rgb(255, 89, 103);
  cursor: pointer;
  outline: none;
  margin-top: 100px;
  margin-right: 40px;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: white;
}

button.uploadbtn:hover {
  background: rgb(251, 62, 78);
}

button.uploadbtn i {
  margin-right: 7px;
}

.hide-upload-btn-content {
  font-size: 16px;
  visibility: visible;
}

.uploadbtn-container {
  width: 300px;
}

.user-rating {
  display: flex;
  position: relative;
}

.user-rating h3 {
  font-size: 50px;
  font-weight: 300;
  margin-right: 5px;
  color: #333;
}

.no-reviews {
  font-size: 14px;
  position: absolute;
  top: 32px;
  left: 78px;
  color: #333;
}

.rate {
  padding-top: 6px;
  margin-left: 2px;
}

.rate i {
  font-size: 16px;
  color:rgb(255, 89, 103);
}

button.settingsbtn2 {
  width: 0;
  height: 0;
  position: absolute;
  visibility: hidden;
  border: 0;
  background: rgb(242, 242, 242);
  cursor: pointer;
  outline: none;
  margin-top: 15px;
  margin-bottom: 20px;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: black;
}

button.settingsbtn1 {
  border: 0;
  padding: 10px;
  width: 235px;
  background: rgb(242, 242, 242);
  cursor: pointer;
  outline: none;
  margin-top: 15px;
  margin-bottom: 20px;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: black;
}

button.settingsbtn1:hover {
  background: rgb(230, 230, 230);
}

button.settingsbtn2:hover {
  background: rgb(230, 230, 230);
}

button.settingsbtn1 i {
  margin-right: 7px;
}

.right-side {
  width: 100%;
}

.profile-tabs ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.profile-tabs ul li {
  width: 100%;
  margin: 3px;
  margin-top: 0;
}

.tabs-btn {
  padding: 10px;
  width: 100%;
  cursor: pointer;
  text-align: center;
  background-color: white;
  box-shadow: 0px 3px 5px rgba(0,0,0,.2);
  justify-content: center;
  height: 42px;
  border: none;
  z-index: 5;
}

.tabs-btn.active {
  background-color: white;
  box-shadow: none;
}

@media (max-width: 1280px){
  .profile-name-info h3 {
    font-size: 40px;
  }

  button.uploadbtn {
    width: 230px;
  }
}

@media (max-width: 1140px){
  .profile-container {
    padding-top: 30px;
  }

  .profile-name-info h3 {
    font-size: 35px;
  }

  button.uploadbtn {
    width: 200px;
  }

  .profile-img img {
    height: 220px;
    width: 220px;
  }

  .profile-name-info {
    padding-top: 45px;
    padding-left: 35px;
  }

  .profile-side {
    height: fit-content;
    padding: 75px 30px 20px;
  }
}

@media (max-width: 1020px){
  .profile-name-info h3 {
    font-size: 30px;
  }

  .profile-name-info {
    padding-left: 30px;
  }
}

@media (max-width: 925px){
  .profile-container {
    padding-top: 20px;
  }

  .profile-header {
    height: 180px;
  }

  .profile-img img {
    height: 200px;
    width: 200px;
    margin: 10px 0px 0px 5px;
  }

  .profile-name-info {
    padding-left: 30px;
  }

  .profile-name-info h3 {
    font-size: 30px;
  }

  .profile-name-info p {
    font-size: 16px;
  }

  .hide-upload-btn-content {
    font-size: 15px;
  }

  button.uploadbtn i {
    font-size: 15px;
  }

  .profile-side {
    width: 275px;
    height: fit-content;
    padding: 60px 30px 15px;
  }

  .profile-side p {
    font-size: 13px;
  }
  
  .profile-side p i {
    font-size: 13px;
  }
  
  .user-bio h3 {
    font-size: 25px;
  }
  
  .user-rating h3 {
    font-size: 40px;
  }
  
  .no-reviews {
    font-size: 13px;
    top: 24px;
    left: 65px;
  }
  
  .rate {
    padding: 3px 10px 0px 0px;
    line-height: 20px;
  }
  
  .rate i {
    font-size: 13px;
  }

  button.settingsbtn1 {
    width: 210px;
  }

  button.settingsbtn1 i {
    font-size: 15px;
  }

  .tabs-btn {
      font-size: 15px;
  }
}

@media (max-width: 820px){
  .profile-container {
    padding-top: 10px;
  }

  .profile-header {
    height: 178px;
    box-shadow: none;
  }

  .profile-img {
    width: 175px;
    margin-left: 30px;
  }

  .profile-img img {
    height: 150px;
    width: 150px;
  }

  .profile-name-info {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 40px;
    width: 90%;
  }
  
  .profile-name-info h3 {
    font-size: 24px;
  }
  
  .user-username p {
    font-size: 14px;
  }

  .uploadbtn-container {
    position: absolute;
    right: 60px;
    top: 115px;
  }

  button.uploadbtn {
    width: 175px;
    padding: 8px;
    margin: 0px 30px 0px 0px;
    position: absolute;
    right: 0px;
  }

  .hide-upload-btn-content {
    font-size: 14px;
  }

  button.uploadbtn i {
    font-size: 13px;
  }

  .profile-body {
    width: 100%;
    display: block;
    padding: 0px;
    margin: 0px;
  }

  .left-side {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  
  .profile-side {
    padding: 5px 40px 10px 40px;
    margin: 0px 0px 0px 0px;
    display: flex;
    width: 100%;
    height: fit-content;
    flex-wrap: wrap;
    position: relative;
  }
  
  .profile-side p {
    margin: 0px 25px 15px 0px;
  }
  
  .profile-side p i {
    margin-right: 8px;
  }
  
  .user-bio {
    width: 70%;
  }

  .user-bio h3 {
    margin-bottom: 3px;
  }

  .user-bio p {
    margin-bottom: 15px;
  }

  .user-rating {
    position: absolute; 
    right: 30px;
    bottom: 10px;
  }
  
  button.settingsbtn2 {
    width: 40px;
    height: 40px;
    margin: 0px;
    z-index: 100;
    right: 40px;
    left: auto;
    top: 125px;
    visibility: visible;
  }

  button.settingsbtn1 {
    width: 0;
    height: 0;
    position: absolute;
    right: 0;
    font-size: 1px;
    visibility: hidden;
  }
}

@media (max-width: 600px){
  .user-bio {
    width: 60%;
  }

  .profile-side p {
    width: 100%;
  }

  .uploadbtn-container {
    right: 54px;
    top: 135px;
  }

  button.uploadbtn {
    width: 150px;
    padding: 6px;
    padding-top: 5px;
  }

  .hide-upload-btn-content {
    font-size: 13px;
  }

  button.uploadbtn i {
    font-size: 12px;
  }
  
  button.settingsbtn2 {
    top: 145px;
    width: 36px;
    height: 36px;
    padding: 7.5px;
  }
  
  button.settingsbtn2 i{
    margin: 0px;
    padding: 0px;
    font-size: 18px;
  }

  .tabs-btn {
    font-size: 13px;
    height: 37px;
  }
}

@media (max-width: 520px){
  .user-bio {
    width: 50%;
  }
}

@media (max-width: 440px){
  .profile-container {
    padding-top: 5px;
  }

  .profile-header {
    height: 120px;
  }

  .profile-img {
    width: 150px;
  }

  .profile-img img {
    height: 100px;
    width: 100px;
  }

  .profile-name-info {
    padding-top: 25px;
    padding-left: 8px;
    padding-right: 40px;
    width: 90%;
  }
  
  .profile-name-info h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .user-username p {
    font-size: 10px;
  }

  .profile-side {
    padding-bottom: 8px;
  }
  
  .profile-side p {
    margin: 0px 25px 10px 0px;
    font-size: 10px;
  }
  
  .profile-side p i {
    margin-right: 7px;
    font-size: 10px;
  }
  
  .user-bio {
    width: 100%;
  }

  .user-bio h3 {
    margin-bottom: 3px;
    font-size: 18px;
  }

  .user-bio p {
    margin-bottom: 15px;
  }

  .user-rating {
    position: relative;
    top: -3px;
    left: 0px;
  }

  .user-rating h3 {
    font-size: 26px;
  }
  
  .no-reviews {
    font-size: 10px;
    top: 15px;
    left: 43px;
  }
  
  .rate {
    padding: 0px 0px 0px 0px;
    margin: -2px 0px 0px -0.5px;
  }
  
  .rate i {
    font-size: 10px;
  }

  .tabs-btn {
    font-size: 12px;
    height: 35px;
  }

  .uploadbtn-container {
    right: 35px;
    top: 100px;
  }

  button.uploadbtn {
    width: 110px;
    height: 20px;
    padding: 1px;
    padding-top: 0px;
  }

  .hide-upload-btn-content {
    font-size: 11px;
    position: absolute;
    top: 2px;
    left: 23px;
  }

  button.uploadbtn i {
    font-size: 10px;
    position: absolute;
    top: 5.5px;
    left: 10px;
  }
  
  button.settingsbtn2 {
    top: 105px;
    width: 20px;
    height: 20px;
    padding: 0px;
  }
  
  button.settingsbtn2 i {
    font-size: 13px;
    position: absolute;
    top: 4px;
    left: 3.5px;
  }
}

@media (max-width: 335px){
  .profile-container {
    padding: 0px;
  }

  .profile-img {
    margin-left: 20px;
  }

  .profile-name-info {
    padding-right: 20px;
    margin-right: 0;
  }

  .uploadbtn-container {
    right: 15px;
    top: 120px;
  }

  button.uploadbtn {
    width: 20px;
    height: 20px;
    padding: 1px;
    padding-top: 0px;
  }

  .hide-upload-btn-content {
    visibility: hidden;
  }

  button.uploadbtn i {
    font-size: 12px;
    position: absolute;
    top: 4px;
    left: 4.5px;
  }

  .profile-side {
    padding: 5px 20px 5px 20px;
  }

  button.settingsbtn2 {
    top: 120px;
    right: 20px;
  }
}

/*Profile Settings*/
.profile-settings-box {
  border: 1px rgb(195, 195, 195) solid;
  border-radius: 10px;
  margin: 20px 100px 40px 100px;
}

.setting-heading-color {
  background-color: rgb(242, 242, 242);
  border-radius: 10px 10px 0px 0px;
  height: 45px;
}

.profile-settings-box h3 {
  font-size: 18px;
  font-weight: 500;
  padding: 12px 14px 0px 14px;
}

.profile-settings-box hr {
  margin: 20px 0px 5px 0px;
}

.profile-settings-box p {
  font-size: 15px;
  padding: 14px 14px 0px 14px;
}

.profile-settings-box label {
  font-size: 15px;
  padding: 14px 0px 0px 14px;
}

.profile-settings-box input {
  font-size: 15px;
  margin: 10px 14px 10px 14px;
  width: 400px;
  max-width: 90%;
}

.profile-settings-box a {
  font-size: 12px;
  text-decoration: none;
  color: rgb(255, 89, 103);
  font-weight: 600;
}

.profile-settings-box i {
  color: rgb(255, 89, 103);
}

.profile-settings-box a:hover {
  text-decoration: underline;
}

.bolder-font {
  font-weight: 400;
}

.smaller-font {
  font-size: 12px;
  font-weight: 300;
}

.profile-img-settings {
  margin-left: 20px;
}

.profile-img-settings img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  border: 4px solid white;
  box-shadow: 0px 5px 10px rgba(0,0,0,.2);
  background: white;
}

.change-btn {
  width: 225px;
  margin: 0px 100px 40px 100px;
  border: 0;
  padding: 10px 15px 10px 15px;
  background: rgb(255, 89, 103);
  box-shadow: 0px 2px 5px rgba(0,0,0,.2);
  font-size: 14px;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  color: white;
}

.change-btn:hover {
  background: rgb(251, 62, 78);
}

@media (max-width: 705px){
  .profile-settings-box {
    margin: 20px 50px 40px 50px;
  }

  .change-btn {
    margin: 0px 50px 40px 50px;
  }
}

@media (max-width: 569px){
  .profile-settings-box input {
    width: 300px;
  }
}

@media (max-width: 469px){
  .profile-settings-box input {
    width: 250px;
  }
}

@media (max-width: 418px){
  .profile-settings-box {
    margin: 20px 25px 40px 25px;
  }
  
  .profile-settings-box label {
    font-size: 13px;
    padding: 14px 0px 0px 14px;
  }
  
  .profile-settings-box input {
    font-size: 13px;
    margin: 10px 14px 10px 14px;
    width: 200px;
  }
  
  .profile-img-settings img {
    height: 120px;
    width: 120px;
  }
  
  .change-btn {
    width: 200px;
    margin: 0px 25px 40px 25px;
    border: 0;
    padding: 8px 13px 8px 13px;
  }
}

@media (max-width: 319px){
  
  .profile-settings-box label {
    font-size: 11px;
  }
  
  .profile-settings-box input {
    font-size: 11px;
    width: 170px;
  }
  
  .change-btn {
    width: 160px;
    margin: 0px 25px 40px 25px;
    border: 0;
    padding: 6px 4px 6px 4px;
  }
}

@media (max-width: 319px){
  
  .setting-heading-color {
    background-color: rgb(242, 242, 242);
    border-radius: 10px 10px 0px 0px;
    height: 35px;
  }
  
  .profile-settings-box h3 {
    font-size: 15px;
    padding: 9px 14px 0px 14px;
  }
  
  .profile-settings-box p {
    font-size: 13px;
  }
  
  .profile-img-settings img {
    height: 130px;
    width: 130px;
  }
  
  .profile-settings-box label {
    font-size: 8px;
  }
  
  .profile-settings-box input {
    font-size: 10px;
    width: 150px;
  }
  
  .change-btn {
    width: 140px;
    margin: 0px 25px 40px 25px;
    border: 0;
    padding: 6px 4px 6px 4px;
    font-size: 12px;
  }
}

/*Upload Form*/
.upload-form-container {
  margin: 30px 0px 50px 0px;
}

.upload-form {
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0,0,0,.3);
  margin: auto;
  padding: 0px;
  width: 700px;
}

.upload-form input[type=text] {
  background-color: white;
  border: none;
  border-bottom: 1px black solid;
}

.upload-form input[type=text]:focus {
  outline: none;
}

.upload-form textarea {
  background-color: white;
  border: none;
}

.recipe-name {
  background-color: rgb(242, 242, 242);
  display: flex;
  justify-content: center;
  padding: 50px 60px 25px 60px;
}

.recipe-name label {
  font-size: 30px;
}

.recipe-name input[type=text] {
  font-size: 30px;
  padding-left: 5px;
  background-color: rgb(242, 242, 242);
  height: fit-content;
  flex-grow: 1;
}

.time-and-servings {
  margin-top: 25px;
  display: flex;
  justify-content: space-evenly;
}

.time-and-servings input[type=text] {
  height: fit-content;
  width: 100px;
  padding-left: 5px;
}

.ingredients {
  margin: 30px 50px 30px 50px;
}

.ingredients label {
  vertical-align: top;
 }

.ingredients textarea {
  margin-top: 10px;
  width: 100%;
  padding: 15px;
  border: 1px black solid;
  border-radius: 10px;
}

.ingredients textarea:focus {
  outline: none;
}

.directions {
  margin: 30px 50px 25px 50px;
}

.directions label {
  vertical-align: top;
}

.directions textarea {
  margin-top: 10px;
  width: 100%;
  padding: 15px;
  border: 1px black solid;
  border-radius: 10px;
}

.directions textarea:focus {
  outline: none;
}

.recipe-image {
  margin: 25px 50px 20px 50px;
}

.upload-image-btn {
  position: relative;
  height: 40px;
  border: 0;
  padding: 10px;
  width: 160px;
  font-size: 14px;
  background: rgb(242, 242, 242);
  cursor: pointer;
  outline: none;
  margin-top: 15px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 5px rgba(0,0,0,.2);
  border-radius: 5px;
  color: black;
}

.upload-image-btn i {
  margin-right: 5px;
  font-size: 13px;
}

.upload-image-btn:hover {
  background: rgb(230, 230, 230);
}

.upload-image-btn input[type="file"] {
  cursor: pointer;
  position: relative;
  bottom: 26px;
  right: 104px;
  width: 330px;
  opacity: 0;
}

.upload-image-btn output {
  position: relative;
  bottom: 48px;
  left: 148px;
  font-size: 14px;
  font-style: italic;
}

.submit-upload {
  display: flex;
  justify-content: center;
}

.submit-upload input {
  width: 250px;
  border: 0;
  margin-bottom: 45px;
  padding: 10px 15px 10px 15px;
  background: rgb(255, 89, 103);
  box-shadow: 0px 2px 5px rgba(0,0,0,.2);
  font-size: 14px;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  color: white;
}

.submit-upload input:hover {
  background: rgb(251, 62, 78);
}

@media (max-width: 750px){
  .upload-form {
    margin-right: 20px;
    margin-left: 20px;
    width: auto;
  }
}

@media (max-width: 650px){
  .recipe-name label {
    font-size: 25px;
  }
  
  .recipe-name input[type=text] {
    font-size: 25px;
  }
}

@media (max-width: 650px){
  .recipe-name {
    padding: 35px 60px 25px 60px;
  }

  .recipe-name label {
    font-size: 24px;
  }
  
  .recipe-name input[type=text] {
    font-size: 24px;
  }

  .time-and-servings label {
    font-size: 14px;
  }
  
  .time-and-servings input[type=text] {
    font-size: 14px;
  }
  
  .ingredients label {
    font-size: 14px;
  }
  
  .ingredients textarea {
    font-size: 14px;
    padding: 12px;
  }
  
  .directions label {
    font-size: 14px;
  }
  
  .directions textarea {
    font-size: 14px;
    padding: 12px;
  }

  .upload-image-btn {
    height: 35px;
    padding: 8px;
    width: 150px;
    font-size: 13px;
  }
  
  .upload-image-btn i {
    font-size: 12px;
  }
  
  .upload-image-btn input[type="file"] {
    cursor: pointer;
    position: relative;
    bottom: 23px;
    right: 95px;
    width: 238px;
  }
  
  .upload-image-btn output {
    position: relative;
    bottom: 46px;
    left: 140px;
    font-size: 13px;
    font-style: italic;
  }

  .submit-upload input {
    width: 200px;
    padding: 8px 13px 8px 13px;
    font-size: 13px;
  }
}

@media (max-width: 575px){
  .recipe-name {
    padding: 30px 60px 25px 60px;
  }

  .recipe-name label {
    font-size: 20px;
  }
  
  .recipe-name input[type=text] {
    font-size: 20px;
  }

  .time-and-servings label {
    font-size: 14px;
  }
  
  .time-and-servings input[type=text] {
    font-size: 14px;
  }
  
  .ingredients label {
    font-size: 14px;
  }
  
  .ingredients textarea {
    font-size: 14px;
    padding: 12px;
  }
  
  .directions label {
    font-size: 14px;
  }
  
  .directions textarea {
    font-size: 14px;
    padding: 12px;
  }

  .submit-upload input {
    width: 200px;
    padding: 8px 13px 8px 13px;
    font-size: 13px;
  }
}

@media (max-width: 510px){
  .upload-form-container {
    margin: 20px 0px 50px 0px;
  }

  .recipe-name {
    padding: 30px 40px 20px 40px;
  }

  .recipe-name label {
    font-size: 16px;
  }

  .recipe-name input[type=text] {
    font-size: 16px;
  }

  .time-and-servings label {
    font-size: 12px;
  }

  .time-and-servings input[type=text] {
    width: 70px;
    font-size: 12px;
  }

  .ingredients {
    margin: 30px 30px 30px 30px;
  }

  .ingredients label {
    font-size: 12px;
  }

  .ingredients textarea {
    font-size: 12px;
    padding: 10px;
  }

  .directions {
    margin: 30px 30px 30px 30px;
  }

  .directions label {
    font-size: 12px;
  }

  .directions textarea {
    font-size: 12px;
    padding: 10px;
  }
  
  .submit-upload input {
    width: 200px;
    padding: 8px 13px 8px 13px;
    font-size: 13px;
  }

  .submit-upload input {
    width: 170px;
    padding: 6px 10px 6px 10px;
    font-size: 12px;
  }
}

@media (max-width: 410px){
  .recipe-name {
    padding: 25px 30px 20px 30px;
  }

  .recipe-name label {
    font-size: 13px;
  }

  .recipe-name input[type=text] {
    font-size: 13px;
  }

  .time-and-servings {
    margin-top: 20px;
  }

  .time-and-servings label {
    font-size: 11px;
  }

  .time-and-servings input[type=text] {
    width: 50px;
    font-size: 11px;
  }

  .ingredients {
    margin: 25px 30px 20px 30px;
  }

  .ingredients label {
    font-size: 11px;
  }

  .ingredients textarea {
    font-size: 11px;
    padding: 10px;
  }

  .directions {
    margin: 20px 30px 25px 30px;
  }

  .directions label {
    font-size: 11px;
  }

  .directions textarea {
    font-size: 11px;
    padding: 10px;
  }

  .submit-upload input {
    margin-bottom: 30px;
    width: 150px;
    padding: 4px 8px 4px 8px;
    font-size: 11px;
  }
}

@media (max-width: 340px){
  .recipe-name {
    padding: 25px 30px 20px 30px;
  }

  .recipe-name label {
    font-size: 12px;
  }

  .recipe-name input[type=text] {
    font-size: 12px;
  }

  .time-and-servings {
    margin-top: 15px;
  }

  .time-and-servings label {
    font-size: 10px;
  }

  .time-and-servings input[type=text] {
    width: 35px;
    font-size: 10px;
  }

  .ingredients {
    margin: 20px 25px 15px 25px;
  }

  .ingredients label {
    font-size: 10px;
  }

  .ingredients textarea {
    margin-top: 5px;
    font-size: 10px;
    padding: 8px;
  }

  .directions {
    margin: 15px 25px 20px 25px;
  }

  .directions label {
    font-size: 10px;
  }

  .directions textarea {
    margin-top: 5px;
    font-size: 10px;
    padding: 8px;
  }

  .submit-upload input {
    margin-bottom: 30px;
    width: 140px;
    padding: 4px 8px 4px 8px;
    font-size: 10px;
  }
}

@media (max-width: 325px){
  .recipe-name {
    padding: 25px 20px 20px 20px;
  }

  .recipe-name label {
    font-size: 11px;
  }

  .recipe-name input[type=text] {
    font-size: 11px;
  }

  .time-and-servings label {
    font-size: 10px;
  }

  .time-and-servings input[type=text] {
    width: 30px;
  }

  .ingredients {
    margin: 20px 20px 15px 20px;
  }

  .ingredients textarea {
    margin-top: 0px;
  }

  .directions {
    margin: 15px 20px 20px 20px;
  }

  .directions textarea {
    margin-top: 0px;
  }
}

@media (max-width: 290px){
  .recipe-name label {
    font-size: 10px;
  }

  .recipe-name input[type=text] {
    font-size: 10px;
  }
}

/*Recipes on Profile*/
.profile-recipes {
  margin-top: 20px;
}

.profile-recipes a {
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.profile-recipes ul {
  list-style-type: none;
  display: inline-grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  padding: 0px 30px 30px 30px;
}

.profile-recipes li {
  text-align: left;
  margin: 12px;
  background-color: rgb(242, 242, 242);
  border-radius: 10px;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.2);
}

.profile-recipes img {
  border-radius: 10px 10px 0px 0px;
  font-size: 13px;
  width: 100%;
  aspect-ratio: 4/ 3;
  object-fit: cover;
  font-display: block;
}

.profile-recipes h4 {
  font-size: 13px;
  padding: 10px 10px 5px 10px;
  margin-bottom: 0px; 
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; 
}

.profile-recipes p {
  font-size: 13px;
  padding: 0px 10px 2px 10px;
  margin-bottom: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; 
}

.recipe-stars {
  font-size: 13px;
  padding: 0px 10px 10px 11px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; 
}

.recipe-stars i {
  font-size: 10px;
}

@media (max-width: 705px){
  .profile-recipes h4 {
    font-size: 12px;
  }
  
  .profile-recipes p {
    font-size: 12px;
  }
  
  .recipe-stars {
    font-size: 12px;
  }
  
  .recipe-stars i {
    font-size: 9px;
  }
}

@media (max-width: 635px){
  .profile-recipes ul {
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  }
}

@media (max-width: 600px){
  .profile-recipes h4 {
    font-size: 11px;
  }
  
  .profile-recipes p {
    font-size: 11px;
  }
  
  .recipe-stars {
    font-size: 11px;
  }
  
  .recipe-stars i {
    font-size: 8px;
  }
}

@media (max-width: 440px){
  .profile-recipes h4 {
    font-size: 10px;
  }
  
  .profile-recipes p {
    font-size: 10px;
  }
  
  .recipe-stars {
    font-size: 10px;
  }
  
  .recipe-stars i {
    font-size: 7px;
  }
}

@media (max-width: 380px){
  .profile-recipes ul {
    grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
  }
}

/*Homepage*/
.welcome-msg {
  text-align: center;
  background-color:  rgb(242, 242, 242);
  margin: 20px 0px 20px 0px;
  padding: 25px;
  font-size: 38px;
  font-weight: 300;
}

.welcome-msg p {
  margin: 0;
  font-size: 22px;
  padding-top: 5px;
}

.homepage-recipes {
  margin-top: 20px;
}

.homepage-recipes a {
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.homepage-recipes ul {
  list-style-type: none;
  display: inline-grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  padding: 0px 30px 30px 30px;
}

.homepage-recipes li {
  text-align: left;
  margin: 12px;
  background-color: rgb(242, 242, 242);
  border-radius: 10px;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.2);
}

.homepage-recipes img {
  border-radius: 10px 10px 0px 0px;
  font-size: 13px;
  width: 100%;
  aspect-ratio: 4/ 3;
  object-fit: cover;
  font-display: block;
}

.homepage-recipes h4 {
  font-size: 13px;
  padding: 10px 10px 5px 10px;
  margin-bottom: 0px; 
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; 
}

.homepage-recipes p {
  font-size: 13px;
  padding: 0px 10px 2px 10px;
  margin-bottom: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; 
}

@media (max-width: 780px){
  .welcome-msg {
    font-size: 35px;
    padding: 22px;
  }

  .welcome-msg p {
  font-size: 20px;
}

  .homepage-recipes ul {
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  }
}

@media (max-width: 635px){
  .welcome-msg {
    font-size: 30px;
    padding: 18px;
  }

  .welcome-msg p {
    font-size: 18px;
  }

  .homepage-recipes ul {
    grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
  }
}

@media (max-width: 500px){
  .welcome-msg {
    font-size: 25px;
    padding: 15px;
  }

  .welcome-msg p {
    font-size: 15px;
  }

  .homepage-recipes ul {
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  }
}

@media (max-width: 390px){
  .welcome-msg {
    font-size: 20px;
    padding: 12px;
  }

  .welcome-msg p {
    font-size: 12px;
  }
}

/*View Recipe*/
.view-recipe {
  width: 75%;
  margin: 10px 50px 0px 50px;
  margin: auto;
}

.display-recipe-name {
  padding: 20px;
  margin: 5px 0px 30px 0px;
  text-align: center;
  letter-spacing: 1px;
  border-bottom: .5px black solid;
}

.display-recipe-name h3 {
  font-variant: small-caps;
  font-size: 50px;
  font-weight: 300;
}

.recipe-user {
  font-weight: 250;
  font-size: 20px;
  color: #777;
  margin-right: 5px;
}

.recipe-user-info i {
  font-size: 15px;
  color: #777;
  vertical-align: 1px;
}

.recipe-reviews {
  font-weight: 250;
  font-size: 16px;
  color: #777;
  vertical-align: 1px;
}

.recipe-part {
  display: flex;
  padding: 0px 20px 20px 20px;
  border-bottom: .5px black solid;
  margin-bottom: 30px;
}

.ingredient-list {
  width: 50%;
  margin: 0px 10px 0px 0px;
}

.ingredient-list h4 {
  margin: 0px 0px 15px 0px;
  font-variant: small-caps;
}

.direction-list {
  width: 100%;
  margin: 0px 10px 0px 0px;
}

.direction-list h4 {
  margin: 0px 0px 15px 0px;
  font-variant: small-caps;
}

.direction-list ol {
  padding-left: 20px;
}

.right-half {
  width: 50%;
}

.recipe-img {
  margin: 10px 10px 10px 10px;
}

.recipe-img img {
  width: 100%;
  aspect-ratio: 4/ 2.9;
  object-fit: cover;
}

.recipe-info {
  text-align: center;
}

.recipe-info h5 {
  font-variant: small-caps;
}

.recipe-info p {
  margin-bottom: 5px;
}

@media (max-width: 1200px){
  .view-recipe {
    width: 80%;
  }

  .display-recipe-name h3 {
    font-size: 45px;
  }

  .recipe-user {
    font-size: 18px;
  }

  .recipe-user-info i {
    font-size: 13px;
  }
  
  .recipe-reviews {
    font-size: 15px;
  }
}

@media (max-width: 1100px){
  .view-recipe {
    width: 85%;
  }
  
  .display-recipe-name h3 {
    font-size: 40px;
  }

  .recipe-user {
    font-size: 16px;
  }
  
  .recipe-user-info i {
    font-size: 12px;
  }
  
  .recipe-reviews {
    font-size: 14px;
  }
  
  .ingredient-list h4, .direction-list h4 {
    font-size: 20px;
  }

  .ingredient-list p, .direction-list p, .direction-list li::marker {
    font-size: 15px;
  }
  
  .recipe-info h5 {
    font-size: 18px;
  }
  
  .recipe-info p {
    font-size: 15px;
  }
}

@media (max-width: 1000px){
  .view-recipe {
    width: 90%;
  }
}

@media (max-width: 900px){
  .display-recipe-name h3 {
    font-size: 35px;
  }

  .recipe-user {
    margin-right: 0;
  }
  
  .ingredient-list h4, .direction-list h4 {
    font-size: 18px;
  }

  .ingredient-list p, .direction-list p, .direction-list li::marker {
    font-size: 14px;
  }
  
  .recipe-info h5 {
    font-size: 17px;
  }
  
  .recipe-info p {
    font-size: 14px;
  }
}

@media (max-width: 650px){
  .view-recipe {
    width: 95%;
  }

  .display-recipe-name h3 {
    font-size: 30px;
  }

  .recipe-user {
    font-size: 15px;
  }
  
  .recipe-user-info i {
    font-size: 11px;
  }
  
  .recipe-reviews {
    font-size: 13px;
  }
  
  .ingredient-list h4, .direction-list h4 {
    font-size: 17px;
  }

  .ingredient-list p, .direction-list p, .direction-list li::marker {
    font-size: 13px;
  }
  
  .recipe-info h5 {
    font-size: 16px;
  }
  
  .recipe-info p {
    font-size: 13px;
  }
}

@media (max-width: 550px){
  .display-recipe-name h3 {
    font-size: 30px;
  }
  
  .recipe-user-info i {
    font-size: 10px;
  }
  
  .recipe-reviews {
    font-size: 12px;
  }
  
  .ingredient-list h4, .direction-list h4 {
    font-size: 16px;
  }

  .ingredient-list p, .direction-list p, .direction-list li::marker {
    font-size: 12px;
  }
  
  .recipe-info h5 {
    font-size: 14px;
  }
  
  .recipe-info p {
    font-size: 12px;
  }
}

@media (max-width: 490px){
  .view-recipe {
    width: 90%;
  }

  .display-recipe-name h3 {
    font-size: 25px;
  }

  .recipe-user {
    font-size: 14px;
  }
  
  .recipe-user-info i {
    font-size: 10px;
  }
  
  .recipe-reviews {
    font-size: 12px;
  }

  .recipe-part {
    display: block;
  }
  
  .ingredient-list {
    width: 100%;
  }
  
  .right-half {
    width: 100%;
  }
  
  .recipe-img {
    margin: 35px 10px 10px 10px;
  }
}

/*View Other User's Recipe*/
.view-recipe-flex-box {
  display: flex;
}

.view-other-recipe {
  width: 65%;
  margin: 30px 80px 40px 60px;
  padding: 0px 20px 5px 20px;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0,0,0,.3);
}

.buy-display-recipe-name {
  padding: 20px;
  margin: 5px 0px 30px 0px;
  text-align: center;
  letter-spacing: 1px;
  border-bottom: .5px black solid;
}

.buy-display-recipe-name h3 {
  font-variant: small-caps;
  font-size: 35px;
  font-weight: 300;
}

.buy-display-recipe-user {
  font-weight: 250;
  font-size: 15px;
  color: #777;
  margin-right: 5px;
}

.buy-recipe-user-info i {
  font-size: 11px;
  color: #777;
  vertical-align: 1px;
}

.buy-recipe-reviews {
  font-weight: 250;
  font-size: 13px;
  color: #777;
  vertical-align: 1px;
}

.ingredient-list-hide {
  width: 50%;
  margin: 0px 10px 0px 0px;
}

.direction-list-hide {
  width: 100%;
  margin: 0px 10px 0px 0px;
}

.ingredient-list-hide h4, .direction-list-hide h4 {
  margin: 0px 0px 15px 0px;
  font-variant: small-caps;
  font-size: 17px;
}

.ingredient-list-hide p, .direction-list-hide p, .direction-list-hide li::marker {
  margin: 0px 0px 15px 0px;
  font-variant: small-caps;
  font-size: 13px;
}

.direction-list-hide ol {
  padding-left: 20px;
  filter: blur(4px);
}

.ingredient-list-hide p {
  filter: blur(4px);
}

.direction-list-hide p {
  filter: blur(4px);
}

.buy-recipe-info {
  text-align: center;
}

.buy-recipe-info h5 {
  font-variant: small-caps;
  font-size: 16px;
}

.buy-recipe-info p {
  margin-bottom: 5px;
  font-size: 13px;
}

.buy-recipe {
  margin: 100px 40px 0px 0px;
}

.buy-recipe-price h3 {
  font-weight: 300px;
  margin: 0px 0px 10px 0px;
}

.buy-recipe-name {
  margin: 0px 0px 10px 0px;
  font-size: 18px;
}

.buy-recipe-rating i {
  font-size: 14px;
  vertical-align: 1px;
}

.buy-recipe-user {
  font-size: 16px;
  vertical-align: 1px;
  padding-left: 3px;
}

.buy-recipe-stars {
  padding: 0;
}

button.add-to-cart-btn {
  border: 0;
  padding: 10px;
  width: 250px;
  border-bottom: 3px;
  background:rgb(255, 89, 103);
  cursor: pointer;
  outline: none;
  margin-top: 20px;
  margin-right: 40px;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: white;
}

button.add-to-cart-btn:hover {
  background: rgb(251, 62, 78);
}

button.add-to-cart-btn i {
  margin-right: 7px;
} 

@media (max-width: 1050px){
  .view-other-recipe {
    width: 65%;
    margin: 30px 50px 40px 60px;
    padding: 0px 20px 5px 20px;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0,0,0,.3);
  }

  .buy-recipe-price h3 {
    font-weight: 300px;
    font-size: 23px;
    margin: 0px 0px 10px 0px;
  }

  .buy-recipe-name {
    margin: 0px 0px 10px 0px;
    font-size: 17px;
  }

  .buy-recipe-rating i {
    font-size: 13px;
    vertical-align: 1px;
  }

  .buy-recipe-user {
    font-size: 15px;
    vertical-align: 1px;
    padding-left: 3px;
  }

  .buy-recipe-stars {
    padding: 0;
  }

  button.add-to-cart-btn {
    padding: 9px;
    width: 225px;
    font-size: 15px;
  }

  button.add-to-cart-btn:hover {
    background: rgb(251, 62, 78);
  }

  button.add-to-cart-btn i {
    margin-right: 7px;
    font-size: 14px;
  } 
}


@media (max-width: 950px){
  .view-recipe-flex-box {
    display: block;
  }
  
  .view-other-recipe {
    width: 85%;
    margin: auto;
    margin-top: 30px;
  }

  .buy-recipe {
    margin: 50px 80px 50px 80px;
  }
}