* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*Navigation Bar*/
.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo-text {
  font-size: 45px;
  font-weight: 300;
  color: rgb(255, 89, 103);
  margin-left: 25px;
}

.logo-text-link {
  text-decoration: none;
}

.back-home-link {
  text-decoration: none;
  color: rgb(87, 87, 87);
  margin: 20px 0px 0px 30px;
  font-size: 15pt;
  font-weight: 350;
}

.back-home-link:hover {
  color: rgb(31, 31, 31);
}

.back-home-link i {
  margin-right: 5px;
  font-size: 14pt;
  -webkit-text-stroke: 1.1px white;
}

.nav-links {
  display: flex;
  margin-right: 25px;
  margin-top: 15px;
  margin-left: 5px;
  padding-left: 0px;
}

.nav-links li {
  list-style: none;
}

.nav-bars i {
  visibility: hidden; 
  float: right;
}

.nav-links a {
  font-size: 20px;
  font-weight: 350;
  display: block;
  color: black;
  text-decoration: none;
  padding: 3px;
  padding-left: 15px;
  padding-right: 15px;
  width: fit-content;
  text-align: center;
}

.nav-links a:hover {
  background-color: rgb(242, 242, 242);
  cursor: pointer;
  border-radius: 20px;
}

.searchbar {
  flex-grow: 1;
  height: 40px;
  border-radius: 20px;
  border: 2px solid black;
  margin-top: 5px;
  margin-right: 10px;
  margin-left: 25px;
}

.searchbar input[type=text] {
  width: 90%;
  padding-left: 20px;
  font-size: 17px;
  border: none;
  border-radius: 20px;
  margin-top: 5px;
}

.searchbar input[type=text]:focus {
  outline: none;
}

.searchbar button {
  text-align: right;
  float: right;
  width: 10%;
  padding: 5px;
  padding-right: 20px;
  background: none;
  border-radius: 20px;
  color: rgb(195, 195, 195);
  border: none;
  cursor: pointer;
}

.searchbar button:hover {
  color: gray;
}


@media (max-width: 925px){
  .nav-links {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }

  .nav-bars i {
    visibility: visible;
    position: absolute;
    -webkit-text-stroke: 1.7px white;
    top: 26px;
    right: 18px;
    font-size: 25px;
    font-weight: 10px;
    color: black;
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .nav-bars i:hover {
    background-color: rgb(242, 242, 242);
    -webkit-text-stroke: 1.7px rgb(242, 242, 242);
    cursor: pointer;
    border-radius: 20px;
  }

  .searchbar {
    margin-right: 75px;
  }
  
  .searchbar input[type=text] {
    width: 85%;
  }
  
  .searchbar button {
    width: 15%;
  }
}

@media (max-width: 705px){
  .searchbar {
    margin-right: 25px;
    min-width: 310px;
    margin-top: 10px;
  }
  
  .searchbar input[type=text] {
    width: 90%;
  }
  
  .searchbar button {
    width: 10%;
  }
}

@media (max-width: 420px){
  .logo-text {
    font-size: 35px;
  }

  .nav-bars i {
    position: absolute;
    -webkit-text-stroke: 1.6px white;
    top: 22px;
    right: 18px;
    font-size: 20px;
  }

  .searchbar {
    height: 32px;
    min-width: 0px;
    border: 1.8px solid black;
  }
  
  .searchbar input[type=text] {
    width: 85%;
    font-size: 15px;
    margin-top: 2.5px;
    padding-left: 15px;
  }
  
  .searchbar button {
    width: 15%;
    padding: 5px;
    padding-right: 20px;
    border-radius: 20px;
    padding-top: 2px;
    cursor: pointer;
  }

  .searchbar button i {
    font-size: 15px;
  }
}

@media (max-width: 340px){
  .logo-text {
    font-size: 30px;
  }

  .nav-bars i {
    position: absolute;
    -webkit-text-stroke: 1.6px white;
    top: 18px;
    right: 18px;
    font-size: 20px;
  }
}


@media (max-width: 305px){
  .logo-text {
    font-size: 25px;
  }

  .nav-bars i {
    position: absolute;
    top: 15px;
    right: 18px;
    font-size: 18px;
  }

  .searchbar {
    height: 28px;
    border: 1.4px solid black;
  }
  
  .searchbar input[type=text] {
    width: 85%;
    font-size: 12px;
    margin-top: 2.5px;
    padding-left: 15px;
  }
  
  .searchbar button {
    width: 15%;
    padding: 4px;
    padding-right: 20px;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 0;
  }

  .searchbar button i {
    font-size: 12px;
    -webkit-text-stroke: 0.5px white;
  }
}

/* Login */
.login, .register {
  width: 400px;
  background-color: #ffffff;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  margin: 100px auto;
}
.login h1, .register h1 {
  text-align: center;
  color: rgb(255, 89, 103);
  font-size: 24px;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid rgb(255, 89, 103);
}
.login .links, .register .links {
  display: flex;
  padding: 0 15px;
}
.login .links a, .register .links a {
  color: rgb(255, 89, 103);
  text-decoration: none;
  display: inline-flex;
  padding: 0 10px 10px 10px;
  font-weight: bold;
}
.login .links a:hover, .register .links a:hover {
  color: rgb(255, 89, 103);
}
.login .links a.active, .register .links a.active {
  border-bottom: 3px solid rgb(255, 89, 103);
  color: rgb(255, 89, 103);
}
.login form, .register form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}
.login form label, .register form label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: rgb(255, 89, 103);
  color: #ffffff;
}
.login form input[type="password"], .login form input[type="text"], .login form input[type="email"], .register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
  width: 310px;
  height: 50px;
  border: 1px solid #dee0e4;
  margin-bottom: 20px;
  padding: 0 15px;
}
.login form input[type="submit"], .register form input[type="submit"] {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  background-color: rgb(255, 89, 103);
  border: 0;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  transition: background-color 0.2s;
}
.login form input[type="submit"]:hover, .register form input[type="submit"]:hover {
  background-color: rgb(255, 89, 103);
  transition: background-color 0.2s;
}

/* Profile Page */
.profile-container {
  padding-top: 40px;
  margin: 0px;
  background: white;
  height: 100vh;
}

.profile-header {
  background: white;
  width: 100%;
  display: flex;
  height: 190px;
  position: relative;
  box-shadow: 0px 3px 4px rgba(0,0,0,.2);
  justify-content: space-between;
}

.profile-header-more{
  background: white;
  width: fit-content;
  display: flex;
  height: 190px;
  position: relative;
  box-shadow: 0px 3px 4px rgba(0,0,0,.2);
  justify-content: space-between;
}

.profile-img {
  float: left;
  width: 280px;
  height: 200px;
  margin-left: 40px;
}

.profile-img img {
  border-radius: 50%;
  height: 230px;
  width: 230px;
  border: 4px solid white;
  box-shadow: 0px 5px 10px rgba(0,0,0,.2);
  position: absoulte;
  left: 60px;
  top: 20px;
  z-index: 5;
  background: white;
}

.profile-name-info {
  flex-direction: column;
  padding-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
}

.profile-name-info h3 {
  font-variant: small-caps;
  font-size: 50px;
  font-weight: 300;
}

.profile-name-info .user-username {
  font-weight: 250;
  color:  #777;
}

.profile-body {
  width: 100%;
  display: flex;
  padding-right: 25px;
}

.profile-side {
  width: 300px;
  background: white;
  box-shadow: 0px 3px 5px rgba(0,0,0,.2);
  padding: 90px 30px 20px;
  margin-left: 25px;
  z-index: 10;
}

.profile-side p {
  margin-bottom: 20px;
  color: #333;
  font-size: 14px;
}

.profile-side p i {
  color: rgb(255, 89, 103);
  margin-right: 10px;
}

.user-bio {
  color: #333;
}

.user-bio h3 {
  font-weight: 300;
}

button.uploadbtn {
  border: 0;
  padding: 10px;
  width: 260px;
  border-bottom: 3px;
  background:rgb(255, 89, 103);
  font-size: 16px;
  cursor: pointer;
  outline: none;
  margin-top: 100px;
  margin-right: 40px;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: white;
}

button.uploadbtn:hover {
  background: rgb(251, 62, 78);
}

button.uploadbtn i{
  margin-right: 7px;
}

.uploadbtn-container {
  width: 300px;
}

.user-rating {
  display: flex;
}

.user-rating h3 {
  font-size: 50px;
  font-weight: 300;
  margin-right: 5px;
  color: #333;
}

.user-rating .no-reviews {
  font-size: 14px;
  color: #333;
}

.rate {
  padding-top: 6px;
  margin-left: 2px;
  margin-right: 50px;
}

.rate i {
  font-size: 16px;
  color:rgb(255, 89, 103);
}

button.settingsbtn {
  border: 0;
  padding: 10px;
  width: 235px;
  border-bottom: 3px;
  background: rgb(233, 233, 233);
  font-size: 16px;
  cursor: pointer;
  outline: none;
  margin-top: 15px;
  margin-bottom: 20px;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: black;
}

button.settingsbtn:hover {
  background: rgb(219, 219, 219);
}

button.settingsbtn i{
  margin-right: 7px;
}

.right-side {
  width: 100%;
}

.profile-tabs ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.profile-tabs ul li {
  width: 100%;
  margin: 3px;
  margin-top: 0;
}

.tabs-btn {
  padding: 10px;
  width: 100%;
  cursor: pointer;
  text-align: center;
  background-color: white;
  box-shadow: 0px 3px 5px rgba(0,0,0,.2);
  justify-content: center;
  height: 42px;
  border: none;
  z-index: 5;
}

.tabs-btn.active {
  background-color: white;
  box-shadow: none;
}

/*Profile Settings*/
.profile-settings-box {
  border: 1px rgb(195, 195, 195) solid;
  border-radius: 10px;
  margin: 20px 100px 40px 100px;
}

.setting-heading-color {
  background-color: rgb(242, 242, 242);
  border-radius: 10px 10px 0px 0px;
  height: 45px;
}

.profile-settings-box h3 {
  font-size: 18px;
  font-weight: 500;
  padding: 12px 0px 0px 14px;
}

.profile-settings-box hr {
  margin: 20px 0px 5px 0px;
}

.profile-settings-box p {
  font-size: 15px;
  padding: 14px 0px 0px 14px;
}

.profile-settings-box label {
  font-size: 15px;
  padding: 14px 0px 0px 14px;
}

.profile-settings-box input {
  font-size: 15px;
  margin: 10px 14px 0px 14px;
  width: 400px;
  max-width: 90%;
}

.profile-settings-box a {
  font-size: 12px;
  text-decoration: none;
  color: rgb(255, 89, 103);
  font-weight: 600;
}

.profile-settings-box a:hover {
  text-decoration: underline;
}

.bolder-font {
  font-weight: 400;
}

.smaller-font {
  font-size: 12px;
  font-weight: 300;
}

.profile-img-settings {
  margin-left: 20px;
}

.profile-img-settings img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  border: 4px solid white;
  box-shadow: 0px 5px 10px rgba(0,0,0,.2);
  background: white;
}

.change-btn {
  margin: 0px 14px 20px 14px;
  border: 0;
  padding: 6px 10px 6px 10px;
  background: rgb(255, 89, 103);
  box-shadow: 0px 2px 5px rgba(0,0,0,.2);
  font-size: 14px;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  color: white;
}

.change-btn:hover {
  background: rgb(251, 62, 78);
}




