@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/*Navigation Bar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
}

.logo-text {
    font-size: 3rem;
    font-weight: 300;
    color: rgb(255, 89, 103);
}

.nav-links {
    display: flex;
}

.nav-links li {
    margin-left: 1rem;
    list-style: none;
}

.nav-links a {
    font-size: 1.4rem;
    font-weight: 300;
    color: black;
    text-decoration: none;
    margin-right: 1rem;
}

.nav-links a:hover {
    background-color: rgb(242, 242, 242);
    cursor: pointer;
}

/* Login */
.login, .register {
  width: 400px;
  background-color: #ffffff;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  margin: 100px auto;
}
.login h1, .register h1 {
  text-align: center;
  color: rgb(255, 89, 103);
  font-size: 24px;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid rgb(255, 89, 103);
}
.login .links, .register .links {
  display: flex;
  padding: 0 15px;
}
.login .links a, .register .links a {
  color: rgb(255, 89, 103);
  text-decoration: none;
  display: inline-flex;
  padding: 0 10px 10px 10px;
  font-weight: bold;
}
.login .links a:hover, .register .links a:hover {
  color: rgb(255, 89, 103);
}
.login .links a.active, .register .links a.active {
  border-bottom: 3px solid rgb(255, 89, 103);
  color: rgb(255, 89, 103);
}
.login form, .register form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}
.login form label, .register form label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: rgb(255, 89, 103);
  color: #ffffff;
}
.login form input[type="password"], .login form input[type="text"], .login form input[type="email"], .register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
  width: 310px;
  height: 50px;
  border: 1px solid #dee0e4;
  margin-bottom: 20px;
  padding: 0 15px;
}
.login form input[type="submit"], .register form input[type="submit"] {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  background-color: rgb(255, 89, 103);
  border: 0;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  transition: background-color 0.2s;
}
.login form input[type="submit"]:hover, .register form input[type="submit"]:hover {
  background-color: rgb(255, 89, 103);
  transition: background-color 0.2s;
}