<!--
{% extends "base.html" %}
{% block title %}Mimi's Cookbook | Home{% endblock %}
{% block content %}
-->

<!doctype html>

<html>

    <head>
        <title>Home</title>
        <link href="../static/css/style.css" type="text/css" rel="stylesheet" />
    </head>

    <body>

        <div class="navbar">
            
            <div class="logo-text">
                Mimi's Cookbook
            </div>

            <input type="text" placeholder="Search..">

            <div>
                <ul class='nav-links'>
                    <li><a href="login.html">Sign in</a></li>
                    <li><a href="">Cart</a></li>
                </ul>
            </div>

        </div>

    </body>

</html>

<!--{% endblock %}-->
