{% extends "base.html" %}
{% block title %}Mimi's Cookbook | Home{% endblock %}
{% block content %}
<div class="container">
    <div class="row m-3">
        <div class="col-md-6 text-center">
            <h1>Mimi's Cookbook</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-center">
            <p>Welcome to Mimi's Cookbook, the online marketplace for buying and selling recipes for meals and baked goods. To get started, sign up or log in below.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a href="/auth/login">
                <button>Log In</button>
            </a>
        </div>
        <div class="col-md-6">
            <a href="/auth/signup">
                <button>Sign Up</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}