{% extends "base.html" %}
{% block title %}Mimi's Cookbook | Home{% endblock %}
{% block content %}
<div class="container">
    <div class="row m-3">
        <div class="col-md-6 text-center">
            <h1>Mimi's Cookbook</h1>
        </div>
    </div>
    <nav class='container navbar'>
      
        <div class='logo-text'>
            Mimi's Cookbook
        </div>

        <menu>

          <ul class='nav-links'>

            <li>
              <div class="signin-window">
                <a>Sign in</a>
                <span class="signin-window-text" id="signin-window"> <Login /></span>              
              </div>
            </li>

            <li><a href='#' >Cart</a></li>

          </ul>

        </menu>

    </nav>
</div>
{% endblock %}