
{% extends "base.html" %}
{% block title %}Mimi's Cookbook | Log In{% endblock %}
{% block content %}


<!doctype html>

<html>

    <head>
        <title>Log In</title>
        <link href="../static/css/style.css" type="text/css" rel="stylesheet" />
    </head>

    <body>

        <h2>Sign in</h2>

        <form>

            <label>
                Username <br />
                <span class="input"></span><input type="text"/></span>
            </label>

            <br /><br />

            <label>
                Password <br />
                <span class="input"><input type="password"/></span>
            </label>

            <br /><br />

            <button type="submit" class='btn'>Sign in</button>

        </form>

        <div class="link">
            <a href="register.html">Don't have an accout? Sign up here.</a>
        </body>

    </body>

</html>

<!--{% endblock %}-->