{% extends "base.html" %}
{% block title %}Mimi's Cookbook | Upload{% endblock %}
{% block content %}
<script src="{{url_for('static', filename='/javascript/javascript.js')}}"></script>
<div class="navbar">
    <a href="/search" class="logo-text-link">
        <div class="logo-text">
            Mimi's Cookbook
        </div>
    </a>

    <form class="searchbar">
        <input type="text" name="search" placeholder="Search..">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>

    <div>
        <button onclick="show_hide()" class="nav-bars"><i class="fas fa-bars"></i></button>
        <ul id='nav-links' class="nav-links">
            <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
            <li><a href="{{ url_for('views.profile') }}">Profile</a></li>
            <li><a href="">Cart</a></li>
        </ul>
    </div>
</div>
<div class="upload-form-container">
    <div class="upload-form">
        <form>
            <div class="recipe-name">
                <label for="title">Recipe Name:&nbsp;</label>
                <input type="text" id="title" name="title">
            </div>
            <div class="time-and-servings">
                <div>
                    <label for="prep_time">Time to Prepare:</label>
                    <input type="text" id="prep_time" name="prep_time"/>
                </div>
                <div>
                    <label for="servings">Servings:</label>
                    <input type="text" id="servings" name="servings"/>
                </div>
            </div>
            <div class="ingredients">
                <label for="ingredients">Ingredients:</label>
                <textarea id="ingredients" name="ingredients" onInput="bulletedInput(event)" rows="8"></textarea>
            </div>
            <div class="directions">
                <label for="directions">Directions:</label>
                <textarea id="directions" name="directions" onInput="bulletedInput(event)" rows="10"></textarea>
            </div>
            <div class="submit-upload">
                <input type="submit" value="Submit My Recipe!"> 
            </div>
        </form> 
    </div>
</div>
{% endblock %}