{% extends "base.html" %} {% block title %}Mimi's Cookbook | Recipes{% endblock
%} {% block content %}
<script src="{{url_for('static', filename='/javascript/javascript.js')}}"></script>
<div class="navbar">
  <a href="/search" class="logo-text-link">
    <div class="logo-text">Mimi's Cookbook</div>
  </a>
  <form class="searchbar">
    <input type="text" name="search" placeholder="Search.." />
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>
  <div>
    <button onclick="show_hide()" class="nav-bars">
      <i class="fas fa-bars"></i>
    </button>
    <ul id="nav-links" class="nav-links">
      <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
      <li><a href="{{ url_for('views.profile') }}">Profile</a></li>
      <li><a href="">Cart</a></li>
    </ul>
  </div>
</div>
<div class="view-recipe">
  <div class="display-recipe-name">
    <h3>{{recipe.title}}</h3>
    <div class="recipe-user-info">
      <span class="recipe-user">@{{user.username}}</span>
      <span class="recipe-stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <span class="recipe-reviews">(0 reviews)</span>
      </span>
    </div>
  </div>
  <div class="recipe-part">
    <div class="ingredient-list">
      <!-- <h4>Ingredients</h4>
            <p>6 oz strawberry Jell-O</p>
            <p>2 cups boiling water</p>
            <p>2 1/2 cups salted pretzels, (measured before crushing)</p>
            <p>1/4 cup granulated sugar</p>
            <p>8 Tbsp unsalted butter</p>
            <p>8 oz package cream cheese, softened</p>
            <p>1/2 cup granulated sugar</p>
            <p>8 oz cool whip, thawed in the fridge</p>
            <p>1 lb fresh strawberries, hulled and sliced</p> -->
      <h4>Ingredients</h4>
      <p id="recipe-ingredients"><span>{{recipe.ingredients}}</span></p>
    </div>
    <div class="right-half">
      <div class="recipe-img">
        <img src="{{url_for('static', filename=recipe.photo_path)}}" />
      </div>
      <div class="time-and-servings">
        <div class="recipe-info">
          <h5>Time to Prepare</h5>
          <p>{{recipe.time}}</p>
        </div>
        <div class="recipe-info">
          <h5>Servings</h5>
          <p>{{recipe.servings}}</p>
        </div>
      </div>
      <div class="space"></div>
    </div>
  </div>
  <div class="recipe-part">
    <div class="direction-list">
      <h4>Directions</h4>
      <p id="recipe-directions">
        <span>{{recipe.directions}}</span>
      </p>
    </div>
  </div>
</div>
{% endblock %}
