<!--
{% extends "base.html" %}
{% block title %}Mimi's Cookbook | Register{% endblock %}
{% block content %}
-->

<!doctype html>

<html>

    <head>
        <title>Register</title>
        <link href="../static/css/style.css" type="text/css" rel="stylesheet" />
    </head>

    <body>

        <h2>Sign up</h2>

        <form>

            <label>
                First Name <br />
                <span class="input"></span><input type="text"/></span>
            </label>

            <br /><br />

            <label>
                Last Name <br />
                <span class="input"></span><input type="text"/></span>
            </label>

            <br /><br />

            <label>
                Email <br />
                <span class="input"></span><input type="text"/></span>
            </label>

            <br /><br />

            <label>
                Username <br />
                <span class="input"></span><input type="text"/></span>
            </label>

            <br /><br />

            <label>
                Password <br />
                <span class="input"><input type="password"/></span>
            </label>

            <br /><br />

            <label>
                Confirm Password <br />
                <span class="input"><input type="password"/></span>
            </label>

            <br /><br />

            <button type="submit" class='btn'>Sign up</button>

        </form>

        <div class="link">

        <a href="login.html">Already have an accout? Sign in here.</a>

    </body>

</html>

<!--{% endblock %}-->