{% extends "base.html" %}
{% block title %}Mimi's Cookbook | Home{% endblock %}
{% block content %}
<div class="navbarsearch">
    <div class="logo-text">
        Mimi's Cookbook
    </div>
    <input type="text" name="search" placeholder="Search..">
    <div>
        <ul class="nav-links">
            <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
            <li><a href="{{ url_for('auth.profile') }}">Profile</a></li>
            <li><a href="">Cart</a></li>
        </ul>
    </div>
</div>
<div class="container">
    </br>
    <h3>Hello {{ user.username }}</h3>
</div>
{% endblock %}