{% extends "base.html" %}
{% block title %}Mimi's Cookbook | Home{% endblock %}
{% block content %}
<script src="{{url_for('static', filename='/javascript/javascript.js')}}"></script>
<div class="navbar">
    <a href="/search" class="logo-text-link">
        <div class="logo-text">
            Mimi's Cookbook
        </div>
    </a>
    <form class="searchbar">
        <input type="text" name="search" placeholder="Search..">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    <div>
        <button onclick="show_hide()" class="nav-bars"><i class="fas fa-bars"></i></button>
        <ul id='nav-links' class="nav-links">
            <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
            <li><a href="{{ url_for('views.profile') }}">Profile</a></li>
            <li><a href="">Cart</a></li>
        </ul>
    </div>
</div>
<div class="welcome-msg">
    {{user.full_name}},
    <p>Welcome to Mimi's Cookbook!</p>
</div>
<!--
<div class="homepage-recipes">
    <ul>
        {% for recipe in recipes %}
        <a><li>
            <img src="{{url_for('static', filename=recipe.photo_path)}}" alt="">
            <h4>{{recipe.title}}</h4>
            <p>@{{user.username}}</p>
            <div class="recipe-stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                (0 reviews)
            </div>
        </li></a>
        {% endfor %}
    </ul>
</div>
-->
<div class="homepage-recipes">
    <ul>
        <a href="{{ url_for('views.recipe_buy') }}"><li>
            <img src="../static/chocolate-chip-cookies.jpeg"/>
            <h4>Chocolate Chip Cookies</h4>
            <p>@morganhepler</p>
            <div class="recipe-stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                (0 reviews)
            </div>
        </li></a>
        <a href="{{ url_for('views.recipe_buy') }}"><li>
            <img src="../static/brownies.jpeg"/>
            <h4>Brownies</h4>
            <p>@morganhepler</p>
            <div class="recipe-stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                (0 reviews)
            </div>
        </li></a>
        <a href="{{ url_for('views.recipe_buy') }}"><li>
            <img src="../static/apple-pie.jpeg"/>
            <h4>Apple Pie</h4>
            <p>@morganhepler</p>
            <div class="recipe-stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                (0 reviews)
            </div>
        </li></a>
        <a href="{{ url_for('views.recipe_buy') }}"><li>
            <img src="../static/kettle-corn.jpeg"/>
            <h4>Kettle Corn</h4>
            <p>@morganhepler</p>
            <div class="recipe-stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                (0 reviews)
            </div>
        </li></a>
        <a href="{{ url_for('views.recipe_buy') }}"><li>
            <img src="../static/strawberry-pretzel-salad.webp"/>
            <h4>Strawberry Pretzel Salad</h4>
            <p>@morganhepler</p>
            <div class="recipe-stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                (0 reviews)
            </div>
        </li></a>
        <a href="{{ url_for('views.recipe_buy') }}"><li>
            <img src="../static/pizza.jpeg"/>
            <h4>Pizza</h4>
            <p>@morganhepler</p>
            <div class="recipe-stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                (0 reviews)
            </div>
        </li></a>
        <a href="{{ url_for('views.recipe_buy') }}"><li>
            <img src="../static/snickerdoodle-cookie.jpeg"/>
            <h4>Snickerdoodle Cookies</h4>
            <p>@morganhepler</p>
            <div class="recipe-stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                (0 reviews)
            </div>
        </li></a>
    </ul>
</div>
{% endblock %}