{% extends "base.html" %}
{% block title %}Mimi's Cookbook | Sign Up{% endblock %}
{% block content %}
<div class="navbar">
    <a href="/" class="back-home-link">
        <i class="fas fa-arrow-left"></i> Back to Home
    </a>
</div>

<div class="register">
    <h1>Register</h1>
    <div class="links">
        <a href="{{ url_for('auth.login') }}">Login</a>
        <a href="{{ url_for('auth.register') }}" class="active">Register</a>
    </div>
    <form action="{{ url_for('auth.register') }}" method="post" autocomplete="off">
        <label for="full_name">
            <i class="fas fa-signature"></i>
        </label>
        <input type="text" name="full_name" placeholder="Full Name" id="Full Name" required>
        <label for="username">
            <i class="fas fa-user"></i>
        </label>
        <input type="text" name="username" placeholder="Username" id="username" required>
        <label for="password">
            <i class="fas fa-lock"></i>
        </label>
        <input type="password" name="password" placeholder="Password" id="password" required>
        <label for="email">
            <i class="fas fa-envelope"></i>
        </label>
        <input type="email" name="email" placeholder="Email" id="email" required>
        <div class="msg">{{ msg }}</div>
        <input type="submit" value="Register">
    </form>
</div>
{% endblock %}